
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-primary:#1b1f24;
    --primary:#12bdff;
}

body{
    font-family: "Nunito Sans", sans-serif;
}

header{
    background-color: var(--dark-primary);
    padding: 20px ;
    color: aliceblue;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/* logo */
.logo{
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 5px;
    font-family: "Nunito Sans", sans-serif;
   
}
header a{
    text-decoration: none;
}

/*nav*/
header ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin-right: 20px;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600
}
header ul li a:hover{
    color: var(--primary);
}

/* header button*/
.cvbtn{
    padding: 10px 20px;
    font-weight:bolder;
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
}
.cvbtn:hover{

    background-color: var(--primary);
    color: white;
}

/*section*/
.navi{
    color: var(--primary);
}

section.hero{
    background-color: var(--dark-primary);
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 180px 0px 180px;
}
.hero-title{
    font-size: 40px;
}
.social-icons{
    margin: 20px 0px;

}
.social-icons li{
    margin-right: 15px;
}
ul.social-icons{
    list-style:none;
    display: flex;
}
.social-icons li > a:hover{
    color: var(--primary);
}
.social-icons li > a{
    text-emphasis: none;
    color: white;
}
/* hero-button*/
.btn1{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    font-weight: 300;
    margin-right: 5px;
}
.btn1:hover{
    background-color: #f1fafd;
}
.btn2{
    padding: 10px 20px;
    border-radius: 5px;
   border: 1px solid var(--primary);
    cursor: pointer;
    background-color:var(--dark-primary);
    color: var(--primary);
    font-weight: 300;
    margin-right: 5px;
}
.btn2:hover{
    background-color: var(--primary);
    color: white;
}

/*about*/

.about{
    background-color: #22282f;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img{
    width: 350px;
    height: 350px;
    border-radius:50%;
    border: 2px solid var(--primary);
    box-shadow: 3px 5px 15px #035060;
}
.about-desc{
    margin-left: 100px;
    max-width: 450px;
    
}
.about-desc h4{
    font-size: 28px;
}
.about-desc ul{
    padding: 3px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.about-desc li{
  margin-bottom: 8px;
  color: gray;
    
}
.about-desc li > strong{
    color: white;
      
}
.about-desc h4 >span{
    color: var(--primary);
}
.about-desc li > a{
    color: gray;
    text-decoration: none;
      
}
.about-desc li > a:hover{
    color: var(--primary);
    
      
}
/*my works*/

.work{
    background-color: var(--dark-primary);
    color: white;
    padding: 60px;
    text-align: center;
}
.work-title{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}
.work-title span{
    color: var(--primary);
}

.work-box1{
    background-color: #22282f;
    padding: 60px 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    margin-right: 40px;
}
.work-content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.work-box1:hover{
    background-color: #101214;
    cursor: pointer;
}
.work-box1 p{
    color: rgb(250, 238, 238);
    font-size: 14px;
    margin-top: 10px;
}
.work-box1 a{
    color: rgb(161, 145, 145);
    font-size: 14px;
    padding-top: 10px;
}
.b1 p{
    margin-top: 10px;

}
.b1{
    margin-top: 15px;
}
.at{
    margin-top: 10px;
  
}

.work-icon{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 50%;
}
.work-icon :hover{
    color: #1380ac;
}
